<mat-toolbar color="primary">
    <span class="example-spacer"></span>
        <button routerLink="/reservations" mat-button color="secondary" class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            Reservations
        </button>
        <button routerLink="/inventory" mat-button color="secondary" class="example-icon" aria-label="Example icon-button with share icon">
            Inventory
        </button>
        <!-- <button mat-button [mat-menu-trigger-for]="menu">
            <mat-icon>menu</mat-icon>
        </button> -->
</mat-toolbar>
<!-- 
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/reservations">
      <mat-icon>notes</mat-icon>
      Reservations
    </button>
    <button mat-menu-item routerLink="/inventory">
      <mat-icon>edit</mat-icon>
      Inventory
    </button>
</mat-menu> -->